<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

h1{
    color:gray;
    text-align: center;
    font-weight:200;
    letter-spacing: 20px;
    font-family: 'Abel', sans-serif;

}