@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
  color: #272727;
}

#navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 100px;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
}

@media screen and (min-width: 1025px) {
  #navigation {
        grid-template-areas: " logo link social";
  }
}

@media screen and (max-width: 1024px) {
  #navigation {
        grid-template-areas: "logo social menu";
  }
}

@media screen and (max-width: 767px) {
  #navigation {
    padding: 10px 20px;
  }
}

#navigation #menu {
  grid-area: menu;
}

@media screen and (max-width: 1024px) {
  #navigation #menu {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1025px) {
  #navigation #menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #navigation #menu {
    width: 32px;
  }
}

#navigation .logo {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  font-size: 32px;
  grid-area: logo;
}

@media screen and (max-width: 767px) {
  #navigation .logo {
    font-size: 18px;
  }
}

#navigation .logo:hover {
  color: #5B5B5B;
}

#navigation .link {
  grid-area: link;
  text-align: center;
}

#navigation .link a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 30px;
}

#navigation .link a:hover {
  color: #5B5B5B;
}

@media screen and (max-width: 1024px) {
  #navigation .link a {
    display: none;
  }
}

#navigation .social {
  margin: auto;
  grid-area: social;
}

#navigation .social img {
  -webkit-filter: invert(13%) sepia(26%) saturate(13%) hue-rotate(314deg) brightness(88%) contrast(91%);
          filter: invert(13%) sepia(26%) saturate(13%) hue-rotate(314deg) brightness(88%) contrast(91%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 30px;
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  #navigation .social img {
    width: 20px;
    margin-left: 10px;
  }
}

#navigation .social img:hover {
  -webkit-filter: invert(29%) sepia(0%) saturate(1039%) hue-rotate(135deg) brightness(100%) contrast(90%);
          filter: invert(29%) sepia(0%) saturate(1039%) hue-rotate(135deg) brightness(100%) contrast(90%);
}

#banner {
  width: 100%;
  height: 100vh;
  background: #eee;
  overflow: hidden;
}

#banner .dot {
  bottom: 80px;
}

@media screen and (max-width: 1024px) {
  #banner {
    height: 100%;
  }
  #banner .slick-track {
    height: 900px;
  }
  #banner img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  #banner .dot {
    bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  #banner .slick-track {
    height: 500px;
  }
  #banner img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#about {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#about h2 {
  font-size: 200px;
  letter-spacing: 30px;
  padding-left: 30px;
  margin-top: 50px;
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 767px) {
  #about h2 {
    font-size: 50px;
    letter-spacing: 10px;
    padding-left: 10px;
  }
}

#about p {
  margin: 50px;
  padding: 30px;
}

.title {
  font-size: 36px;
  padding: 50px;
  text-align: center;
  padding-top: 100px;
}

.button-class {
  padding: 10px 60px;
  text-decoration: none;
  border: 1px solid #272727;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-class:hover {
  background: #272727;
  color: white;
}

#work {
  height: 100vh;
  background: #f9f9f9;
}

#work #work-box {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (340px)[2];
      grid-template-rows: repeat(2, 340px);
  grid-gap: 15px 30px;
}

@media screen and (max-width: 1024px) {
  #work #work-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 5px 40px;
  }
}

#work #work-box .work-box-small img {
  display: block;
  width: 100%;
  height: 300px;
  background: #272727;
}

#work #work-box .work-box-small h2 {
  text-align: center;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#work #work-box .work-box-small span {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 3px 12px;
  margin-top: 10px;
}

.button-div {
  text-align: center;
  margin-top: 80px;
}

footer {
  background: #272727;
  padding: 90px 0;
  text-align: center;
  margin-top: 120px;
}

footer .logo {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  font-size: 32px;
  grid-area: logo;
  color: #fff;
}

footer .logo:hover {
  color: #5B5B5B;
}

footer .link {
  text-align: center;
}

footer .link a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 30px;
  color: #fff;
}

footer .link a:hover {
  color: #5B5B5B;
}

footer .social {
  margin: auto;
  grid-area: social;
  padding: 20px;
}

footer .social img {
  -webkit-filter: invert(100%) sepia(65%) saturate(216%) hue-rotate(243deg) brightness(110%) contrast(100%);
          filter: invert(100%) sepia(65%) saturate(216%) hue-rotate(243deg) brightness(110%) contrast(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 30px;
  margin-left: 15px;
}

footer .social img:hover {
  -webkit-filter: invert(29%) sepia(0%) saturate(1039%) hue-rotate(135deg) brightness(100%) contrast(90%);
          filter: invert(29%) sepia(0%) saturate(1039%) hue-rotate(135deg) brightness(100%) contrast(90%);
}

footer #copyright {
  color: white;
  font-size: 8pt;
  margin-top: 50px;
}

#arrow {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #D0D0D0;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */